@font-face {
  font-family: 'ZIGZAG';
  src: url('/fonts/ZIGZAG.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseWorks';
  src: url('/fonts/SuisseWorks-Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #f5f4f0;
  color: #141414;
  font-family: SuisseWorks, serif;
  font-size: 12pt;
  cursor: url("/maus.cur") 12 12, auto;
}

a {
  cursor: url("/maus_hover.cur") 12 12, auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}
